[submodule "infastructure/guice"]
	path = infrastructure/guice
	url = git@github.com:walterjwhite/guice.git
[submodule "infastructure/logging"]
	path = infrastructure/logging
	url = git@github.com:walterjwhite/logging.git
[submodule "infastructure/dependencies"]
	path = infrastructure/dependencies
	url = git@github.com:walterjwhite/dependencies.git
[submodule "infastructure/datastore"]
	path = infrastructure/datastore
	url = git@github.com:walterjwhite/datastore.git

[submodule "modules/datetime"]
	path = modules/datetime
	url = git@github.com:walterjwhite/datetime.git
[submodule "modules/pipe"]
	path = modules/pipe
	url = git@github.com:walterjwhite/pipe.git
[submodule "modules/shell"]
	path = modules/shell
	url = git@github.com:walterjwhite/shell.git
[submodule "modules/serialization"]
	path = modules/serialization
	url = git@github.com:walterjwhite/serialization.git
[submodule "modules/encryption"]
	path = modules/encryption
	url = git@github.com:walterjwhite/encryption.git
[submodule "modules/csv"]
	path = modules/csv
	url = git@github.com:walterjwhite/csv.git
[submodule "modules/index"]
	path = modules/index
	url = git@github.com:walterjwhite/index.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:walterjwhite/ssh.git
[submodule "modules/queue"]
	path = modules/queue
	url = git@github.com:walterjwhite/queue.git
[submodule "modules/file"]
	path = modules/file
	url = git@github.com:walterjwhite/file.git
[submodule "modules/google"]
	path = modules/google
	url = git@github.com:walterjwhite/google.git
[submodule "modules/amazon"]
	path = modules/amazon
	url = git@github.com:walterjwhite/amazon.git
[submodule "modules/compression"]
	path = modules/compression
	url = git@github.com:walterjwhite/compression.git
[submodule "infrastructure/timeout"]
	path = infrastructure/timeout
	url = git@github.com:walterjwhite/timeout.git
[submodule "modules/linux-builder"]
	path = modules/linux-builder
	url = git@github.com:walterjwhite/linux-builder.git
[submodule "modules/ip"]
	path = modules/ip
	url = git@github.com:walterjwhite/ip.git
[submodule "modules/download"]
	path = modules/download
	url = git@github.com:walterjwhite/download.git
[submodule "modules/template"]
	path = modules/template
	url = git@github.com:walterjwhite/template.git
[submodule "modules/email"]
	path = modules/email
	url = git@github.com:walterjwhite/email.git
[submodule "modules/exchange"]
	path = modules/exchange
	url = git@github.com:walterjwhite/exchange.git
[submodule "modules/person"]
	path = modules/person
	url = git@github.com:walterjwhite/person.git
[submodule "modules/print"]
	path = modules/print
	url = git@github.com:walterjwhite/print.git
[submodule "modules/calendar"]
	path = modules/calendar
	url = git@github.com:walterjwhite/calendar.git
[submodule "modules/browser"]
	path = modules/browser
	url = git@github.com:walterjwhite/browser.git
[submodule "modules/machine-learning"]
	path = modules/machine-learning
	url = git@github.com:walterjwhite/machine-learning.git
[submodule "modules/remote"]
	path = modules/remote
	url = git@github.com:walterjwhite/remote.git
